:root {
  --main-font: font-family "Roboto", sans-serif;
  --light: #fff;
  --dark: #000;
  --accent: #2196f3;
  --background-color: #212121;
  --footer-color: #2F303A;
  --detail-color: #757575;
  --primary: #afb1b8;
  --light-color: #F5F4FA;
  --border-color: #EEEEEE;
  --overlay-color: rgba(33, 150, 243, 0.9);
  }
  
  h1,
  h2,
  h3 {
  margin: 0;
  padding: 0;
  }
  
  ul,
  li {
  margin: 0; 
  list-style: none;    
  }
  
  p {
  padding: 0; 
  margin: 0;   
  }
  
  img {
  display: block;
  }

  .list {
  list-style: none;
  }
  
  .link {
  text-decoration: none;
  }

  .secondary-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--background-color);
  padding-top: 30px;
  margin-bottom: 30px;
  }